<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/createUser">
  <label for="name">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="Password">Password</label><br>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="CreateUser">
</form>

<form action="/deleteUser">
  <label for="name">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="Password">Password</label><br>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="DeleteUser">
</form>

<form action="/display">
  <input type="submit" value="Display Users">
</form>

</body>
</html>